@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Quattrocento:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Martel+Sans&family=Oswald&family=Quattrocento:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter&family=Jockey+One&family=Martel+Sans&family=Oswald&family=Quattrocento:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter&family=Jockey+One&family=Martel+Sans&family=Oswald&family=Quattrocento:wght@700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter&family=Jockey+One&family=Klee+One&family=Martel+Sans&family=Oswald&family=Quattrocento:wght@700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FAF4E8;
    font-family: 'Martel Sans', sans-serif;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF4E8;
    position: sticky;
    margin-top: 1vw;
}

.logo{
    width: 10vw;
    margin-left: 2vw;
}

.navbarItems{
    display: flex;
}

.listItems{
    margin: 0px 1vw;
    padding: 1.7vw 2vw;
    list-style: none;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: center;
    vertical-align:middle;
    font-family: 'Inter', sans-serif;
}

.listItems:hover{
    cursor: pointer;
}

.sel{
    color:#008E1F;
    font-weight: 600;
    border-bottom: 5px solid #008E1F;
}

.desc{
    margin-left:12.5vw;
    margin-top: 5px;
    width: 50vw;
}

.contactUs{
    color: #0D7947;
    font-weight: 300;

    font-family: 'Staatliches', sans-serif;
    word-spacing: 20px;
    letter-spacing: 2px;
    font-size: 70px;
}

.text{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #00880E;
    font-family: 'Klee One', sans-serif;
}

.icons
{
    display: flex;
    margin-top: 25px;
}

.icon{
    width: 50px;
    margin-right: 40px;
}

.mainArea{
    display: flex;
}

.chilli{
    width: 25vw;
    margin-left: 4vw;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



.hamburger{
    width: 70vw;
    height: 100vh;
    background-color: #FCF4E3;
    position: absolute;
    right: 0%;
    top: 0%;
    border: 2px solid black;
    padding: 30px 40px;
}

.mainArea{
    width: 100vw;
    margin-top: 50px;
}

.overall{
    display: flex;
    overflow: scroll;
}

.menu{
    color: #0D7947;
    font-weight: 700;
    font-family: 'Archivo';
    font-size: 8vw;
    margin-bottom: 30px;
}

.hmList{
    list-style: none;
    color: #0D7947;
    font-weight: 500;
    font-family: 'Archivo';
    font-size: 4.5vw;
}

.hmItems{
    margin-bottom: 30px;
    margin-top: 30px;
}

.line{
    height: 3px;
    width: 90%;
    background-color: #D8D8C6;
}

.closehm{
    width: 25px;
    position: absolute;
    top: 4%;
    right: 7%;
    opacity: 0.6;
}

.hamburger{
    position: fixed;
    display: none;
}

.hmIcon{
    position: absolute;
    top: 3%;
    right: 5%;
    width: 30px;
    display: none;
}

.ramsay{
    display: none;
}

.logo:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .cen{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ramsay{
        display: block;
        width: 50%;
    }
    .navright{
        display: none;
    }
    .center{
        display: none;
    }
    .mainArea{
        width: 90vw;
        /* display: inline; */
    }
    .contactUs{
        text-align: center;
    }

    .desc{
        width: 100%;
    }
    .contactUs{
        font-size: 11vw;
    }
    .text{
        font-size: 20px;
    }
    .icon{
        width: 30px;
    }
    .logo{
        width: 100px;
    }
    .hmIcon{
        display: block;
    }
}